.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #0055A4;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .brandContainer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    flex: 1;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    margin-bottom: 4px;
    border-left: 3px solid transparent;
  }
  
  .navItem:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .active {
    color: #fff;
    background-color: rgba(0, 95, 140, 0.2);
    border-left: 3px solid #005F8C;
  }
  
  .navIcon {
    margin-right: 12px;
    font-size: 1.1rem;
  }
  
  .footerInfo {
    padding: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  
  .universityLogo {
    color:#FFCC00;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  
  .copyright {
    color: #FFCC00;
    font-size: 0.75rem;
  }
  